body {
  font-family: 'Roboto' !important;
  /*background-color: #222;*/
  color: #fff;
}
.container {
  width: 400px;
  margin: 8% auto 0 auto;
}
.flipper{

  border-radius: 6px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
.caption{
  bottom: 0px;
  margin: 10px 16px;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
#imgWrapper{
  height: 100%;
  position: relative;
  width: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  max-height: 400px;
}